{% extends 'app/base.html' %}

{% load static %} 

{% block title %}О компании{% endblock title %} 

{% block header %}О компании{% endblock header %}

{% block main %}

<aside class="styled-aside">
    <ul>
        <li><a href="#about">О компании</a></li>
        <li><a href="#video">Видео</a></li>
        <li><a href="#logo">Логотип</a></li>
        <li><a href="#history">История</a></li>
        <li><a href="#requisites">Реквизиты</a></li>
    </ul>
</aside>

<article class="about" itemscope itemtype="http://schema.org/Organization">
    <p>
        Добро пожаловать в мир красоты и ухода, где каждый клиент - наша звезда! В
        нашем центре мы стремимся помочь вам раскрыть вашу настоящую красоту и
        почувствовать себя настоящей звездой.
    </p>
    <p>Наши услуги:</p>
    <ul class="styled-list">
        <li itemprop="makesOffer">
            Профессиональная косметология: наши эксперты предоставляют широкий
            спектр услуг, включая уход за кожей лица и тела, инъекционные процедуры
            и лазерную терапию.
        </li>
        <li itemprop="makesOffer">
            Эффективные процедуры для омоложения: мы предлагаем инновационные
            методики, чтобы ваша кожа всегда выглядела молодой и сияющей.
        </li>
        <li itemprop="makesOffer">
            Спа-услуги: расслабьтесь и отдохните в нашем уютном спа-салоне,
            наслаждаясь массажем, ароматерапией и другими релаксирующими
            процедурами.
        </li>
        <li itemprop="makesOffer">
            Макияж и стилизация: доверьте нашим визажистам создание вашего
            неповторимого образа для особенных моментов в жизни.
        </li>
    </ul>
    <p>Почему выбирают нас:</p>
    <ul class="styled-list">
        <li>
            Опытные специалисты: наша команда состоит из высококвалифицированных
            косметологов и терапевтов, которые обладают богатым опытом.
        </li>
        <li>
            Современное оборудование: мы используем передовые технологии и
            оборудование, чтобы обеспечить нашим клиентам лучшие результаты.
        </li>
        <li>
            Индивидуальный подход: каждый клиент для нас уникален, и мы
            разрабатываем персонализированные программы ухода.
        </li>
        <li>
            Уютная атмосфера: наш салон создан для вашего комфорта и релаксации.
        </li>
        <li>Клиентоориентированный сервис: ваше удовлетворение - наш приоритет.</li>
    </ul>
    <p>
        Доверьте нам заботу о вашей красоте и забудьте о повседневных заботах. Мы
        создаем звёздное сияние для каждого клиента, чтобы вы всегда чувствовали
        себя особенными. Приходите и оставайтесь сиять вместе с нами!
    </p>
</article>
<hr>
<section id="video">
    <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/Akaka168ZgI?si=FNryzwJOJcSBCuq0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
    ></iframe>
</section>
<hr />

<section id="logo">
    <h2>Логотип</h2>
    <figure>
        <img src="{% static 'app/images/logo.png' %}" alt="" />
        <figcaption>Логотип</figcaption>
    </figure>
</section>
<hr>

<article id="history">
    <h1>История центра</h1>

    <details>
        <summary>Год 1990: Открытие студии красоты</summary>
        В 1990 году в маленьком городе появилась студия красоты. Основатели, Анна и
        Иван, начали свой бизнес с небольшой комнаты, предлагая базовые
        косметические услуги, такие как маникюр и педикюр.
    </details>
    <details>
        <summary>Год 1995: Расширение услуг</summary>
        Спустя пять лет студия красоты стала популярным местом в городе благодаря
        своему профессиональному обслуживанию. Они начали предлагать услуги по уходу
        за волосами и кожей, включая стрижки, окрашивание волос и процедуры ухода за
        лицом.
    </details>
    <details>
        <summary>Год 2000: Открытие первого косметологического центра</summary>
        В 2000 году был открыт первый косметологический центр в более просторном
        помещении. Здесь они предоставляли широкий спектр услуг, таких как массажи,
        SPA-процедуры и процедуры по уходу за телом.
    </details>
    <details>
        <summary>Год 2020: Расширение сети центров</summary>
        К 30-летию своего существования, бренд имеет несколько
        косметологических центров по всей стране. Они остаются в числе лидеров в
        индустрии красоты и предоставляют высококачественные услуги по уходу за
        внешностью.
    </details>
</article>
<hr>

<section id="requisites" itemscope itemtype="http://schema.org/Organization">
    <h2>Реквизиты</h2>
    <pre itemprop="address">
        Адрес:
        Ул. Лунная, 123
        Город Звездный
        Контактные данные:
        Телефон: +1 (800) 123-4567
        Email: info@harmoniya-krasoty.com
        Режим работы:
        Понедельник - Пятница: 10:00 - 20:00
        Суббота - Воскресенье: 11:00 - 18:00
    </pre>
</section>

<section>
    <iframe src="{% static 'app/certificate.html' %}" width="600" height="400"></iframe>
</section>

{% endblock main %}
