{% extends 'app/base.html' %}

{% block title %}Новости{% endblock title %}

{% block header %}Новости{% endblock header %}

{% block main %}
<div class="card-grid">
  {% for news in object_list %}
  <div class="card">
    <img src="{{ news.image.url }}" alt="Изображение новости" class="card-image">
    <h3 class="card-title">{{ news.title }}</h3>
    <p class="card-description"> {{ news.summary }} </p>
    <p class="card-description">{{ news.date }}</p>
    <a href="/news/{{news.id}}" class="button">Читать далее...</a>
  </div>
  {% endfor %}
</div>
{% endblock main %}

