{% extends "app/base.html" %}

{% block title %}Детали заказа{% endblock title %}

{% block header %}Детали заказа{% endblock header %}

{% block main %}
<h2>Клиент:</h2>
<p>Фамилия: {{ object.client.last_name }}</p>
<p>Имя: {{ object.client.first_name }}</p>
<p>Отчество: {{ object.client.father_name }}</p>
<p>Дата рождения: {{ object.client.birth_date }} </p>
<p>Номер телефона: {{ object.client.phone }}</p>

<h2>Заказ:</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Название услуги</th>
            <th scope="col">Категория</th>
            <th scope="col">Цена</th>
        </tr>
    </thead>
    <tbody>
        {% for service in object.services.all %}
        <tr>
            <td scope="row">{{ service.name }}</td>
            <td>{{ service.category }}</td>
            <td>{{ service.price }} $</td>
        </tr>
        {% endfor %}
        <tr>
            <td scope="row"></td>
            <td></td>
            <td>{{ object.total_price }} $</td>
        </tr>
    </tbody>
    </table>

<h2>Действия:</h2>
<div class="text-center">
    <a class="button" href="{% url 'create-appointment' object.id %}">
        Назначить посещение
    </a>
    <a class="button" href="{% url 'delete-order' object.id %}">
        Отклонить
    </a>
</div>
{% endblock main %}