{% extends 'app/base.html' %}

{% block title%}Политика конфиденциальности{% endblock title %}

{% block header %}Политика конфиденциальности{% endblock header %}

{% block main %}
<p>
    Данная Политика конфиденциальности объясняет, как мы, косметологический
    центр , собираем, используем и защищаем вашу личную информацию
    при использовании нашего веб-сайта. Мы стремимся обеспечить максимальную
    конфиденциальность и безопасность ваших данных.
</p>
<ol class="styled-list">
    <li>Сбор информации
        <ol class="styled-list">
            <li>Личная информация
                <p>При заполнении форм на нашем сайте или в процессе взаимодействия с нами вы можете предоставить следующие данные:</p>
                <ul class="styled-list">
                    <li>Имя и фамилия.</li>
                    <li>Контактная информация, включая адрес электронной почты и номер телефона.</li>
                    <li>Дата рождения.</li>
                    <li>Информация о ваших предпочтениях и интересах, связанных с нашими услугами.</li>
                </ul>
            </li>
            <li>Автоматически собираемая информация
                <p>Мы также можем собирать информацию автоматически с использованием файлов cookie и аналитических инструментов. Эти данные включают:</p>
                <ul class="styled-list">
                    <li>IP-адрес.</li>
                    <li>Информацию о вашем устройстве и браузере.</li>
                    <li>Информацию о вашем взаимодействии с нашим сайтом, такую как посещенные страницы и продолжительность пребывания.</li>
                </ul>

            </li>
        </ol>
    </li>
    <li>Использование информации
        <p>Мы используем собранную информацию для следующих целей:</p>
        <ul class="styled-list">
            <li>Предоставление и улучшение наших услуг и услуг по уходу.</li>
            <li>Связь с вами, включая уведомления о записи, подтверждение и напоминания.</li>
            <li>Персонализация наших услуг и рекомендаций на основе ваших интересов.</li>
            <li>Анализ тенденций и статистики для улучшения опыта клиентов.</li>
        </ul>
    </li>
    <li>Защита данных
        <p>Мы принимаем все необходимые меры для защиты вашей личной информации. Мы используем средства безопасности для предотвращения несанкционированного доступа, утечек данных и вирусов.</p>
    </li>
    <li>Раскрытие информации третьим лицам
        <p>Мы не продаем, не арендуем и не обмениваем вашу личную информацию третьим лицам без вашего согласия, за исключением случаев, когда это требуется законом.</p>
    </li>
    <li>Ваши права
        <p>У вас есть следующие права относительно вашей личной информации:</p>
        <ul class="styled-list">
            <li>Право на доступ к вашей информации.</li>
            <li>Право на исправление неточностей.</li>
            <li>Право на удаление данных (в некоторых случаях).</li>
            <li>Право на ограничение обработки данных.</li>
            <li>Право на переносимость данных.</li>
            <li>Право в любое время отозвать свое согласие на обработку данных.</li>
        </ul>
    </li>
    <li>Изменения в Политике конфиденциальности
        <p>Мы можем время от времени обновлять эту Политику конфиденциальности. Любые изменения будут размещены на нашем сайте, и важные изменения будут уведомлены вам напрямую.</p>
    </li>
</ol>

{% endblock main %}
